html {
    font-size: 100%;
}
h1 {
    font-size: 175%;
    background-color: #005885;
    color: white;
    padding: 5px;
    text-align: center;
}
h2 {
    border-bottom: 2px solid #005885;
}
h3 {
    border-bottom: 1px solid #005885;
}
h2, h3, h4, h5 {
    color: black;
}
img {
    vertical-align: middle;
    max-width: 90%;
    width: auto!important;
    height: auto!important;
    margin: 5px auto;
}
.wy-nav-content {
    max-width: 100%;
}
.fa-home::before, .icon-home::before {
    content: url(../img/logo_cahiers_small.png);
    vertical-align: middle;
}
.wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a {
    font-size: 130%;
    font-weight: bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0.809em;
}
.wy-side-nav-search input[type="text"] {
    width: 100%;
    border-radius: 2px;
    padding: 6px 12px;
    border: 1px solid #fcfcfc;
    box-shadow: none;
    font-size: .9em;
}
#mkdocs-search-query {
    width: 100%;
    border-radius: 2px;
    padding: 6px 12px;
    border: 1 px solid #fcfcfc;
    box-shadow: none;
    font-size: 1em;
}
