html {
	font-size: 14px;
	line-height: 1.5;
	background-color: #fafafa;
	text-align: center;
    padding: 0;
}
body {
	max-width: 800px!important;
	font-family: sans-serif;
	color: #222;
	margin: 0 auto;
	padding: 20px;
	text-align: left;
}
a {
	color: #005885;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	border-bottom: 1px dotted #005885;
}
li {
	padding: 0 3px;
	margin-left: 5px;
}
h1 {
	margin: 20px 0;
	font-size: 2em;
	background-color: #005885;
	color: white;
	padding: 3px;
	text-align: center;
}
h1.title { margin: 0; }
h1.subtitle { margin: 0; font-size: 1em; }
h2.author { text-align: right; font-size: 1em; font-style: italic; }
h2 {font-size: 1.5em; border-bottom: 2px solid #005885; }
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}
p {margin: 0 0 1em 0;}
figure {
	margin: 5px;
	padding: 10px;
	text-align: center
}
figcaption {
	font-size: .8em;
	font-style: italic;
}
figure img {
    vertical-align: middle;
    max-width: 90%;
    width: auto!important;
    height: auto!important;
    margin: 5px auto;
}
h1 img, h3 img {
    vertical-align: middle;
    max-height: 1.2em;
    width: auto;
}
h1 span { display: none; }
code {
    font-size: 14px;
    display: block;
    margin: 4px;
    padding:4px 8px;
    color: #111;
    background-color: #f4fbff;
    border: 1px solid #333;
    border-left: 6px solid #005885;
    width: 90%;
    overflow: auto;
}
table {
	width:100%!important;
}
th {
	background-color: #eee;
	padding: 5px;
}
td {
	border: 1px solid #ccc;
	line-height: 1em;
	padding: 2px;
}
footer {
	border-top: 1px solid #005885;
	padding: 25px;
	font-size: .9em;
	font-style: italic;
}
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
